{% extends 'base.html' %}
{% block title %}User Post{% endblock %}
{% block content %}
    <h2>Add Post for {{user.full_name}}</h2>
    <form action="/users/{{user.id}}/posts_new" method="POST">
        <label for="post_title">Title</label>
        <input type="text" name="post_title">
        <label for="post_content">Content</label>
        <textarea name="post_content"></textarea>

        <div class="form-check">
            {% for tag in tags %}
            <div>
              <input class="form-check-input"
                     type="checkbox"
                     value="{{tag.id}}"
                     id="tag_{{tag.id}}"
                     name="tags">
              <label class="form-check-label" for="tag_{{tag.id}}">
                {{tag.tag_name}}
              </label>
            </div>
            {% endfor %}
          </div>

        <button type="submit">Add</button>
        <p><a href="/{{user.id}}">Cancel</a></p>
    </form>
{% endblock %}